#darkshadow {
    background-color : rgb(235, 213, 71);
}

#chapeau {
    background-color:  rgb(76, 76, 196);
}

#triangle{
    background-color: rgb(148, 39, 39);
}

#loukman{
    background-color: rgb(93, 51, 132)
}
#voiture{
    background-color: rgb(29, 119, 89);
}